<div class="text_screen">
    <table class="table" >
        <thead>
          <tr >
            <th scope="col" >Juego</th>
            <th scope="col">Jugadores</th>
            <th scope="col">Resultado</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let img of table">
            <td>{{img.game_id}}</td>
            <td>{{img.player1_id}} VS {{img.player2_id}}</td>
            <td>{{img.score1}}-{{img.score2}}</td>
          </tr>
          
        </tbody>
      </table></div>
